node_modules
coverage
*.log*
.nuxt
.nitro
.cache
.output
dist
.DS_Store
.idea
.eslintcache
api-generator/typedoc.json
**/.DS_Store
package-lock.json
components.d.ts
localhost-key.pem
localhost.pem
.vscode
.env.*